EXPO_PUBLIC_API_BASE_URL=http://192.168.0.10:8005/api
EXPO_PUBLIC_REVERB_ENABLED=true
EXPO_PUBLIC_REVERB_APP_KEY=local-app-key
EXPO_PUBLIC_REVERB_HOST=192.168.0.10
EXPO_PUBLIC_REVERB_PORT=8088
EXPO_PUBLIC_REVERB_SCHEME=http
EXPO_PUBLIC_REVERB_AUTH_ENDPOINT=http://192.168.0.10:8005/api/realtime/auth
